<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grammar Parser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{css/tree-vis.css}" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            async="async"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" async="async"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" defer="defer"></script>
    <script type="text/javascript" th:src="@{js/tree-vis.js}" defer="defer"></script>
    <script type="text/javascript" th:inline="javascript" defer="defer">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function () {
            var message = /*[[${queryTree}]]*/ '{}';
            updateQueryTree(message);
        });
        /*]]>*/
    </script>
</head>

<body>

<div class="container">

    <div class="page-header">
        <h1 class="text-center">Recursive Descent Parser</h1>
    </div>

    <form action="#" th:action="@{/parse-grammar}" th:object="${grammarAndQuery}" method="post">

        <fieldset>

            <div class="input-group row" style="width: 100%; padding-bottom: 20px">
                <div class="col-lg-2">
                    <button class="btn btn-primary" type="submit" name="save">Test Parser</button>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" type="text" placeholder="Query" th:field="*{query}"/>
                </div>
            </div>

            <div id="query-result" class="well well-lg" th:if="${result != null}" th:text="${result}">Parsed Query
                Result
            </div>

            <div id="grammar-tree" class="well well-lg" th:if="${queryTree != null}"></div>

            <div class="input-group row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Symbol</th>
                        <th>Precedence</th>
                        <th>Right Precedence</th>
                        <th>Next Precedence</th>
                        <th>
                            <button class="btn btn-success btn-block" type="submit" name="addToken">Add Token</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="token,caret : *{tokens}">
                        <td th:text="${caret.count}">1</td>
                        <td>
                            <select class="form-control" th:field="*{tokens[__${caret.index}__].tokenType}">
                                <option th:each="tokenType : ${tokenTypes}"
                                        th:value="${tokenType}"
                                        th:text="${tokenType}">TokenType
                                </option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text"
                                   th:field="*{tokens[__${caret.index}__].symbol}"/>
                        </td>
                        <td>
                            <input class="form-control" type="text"
                                   th:field="*{tokens[__${caret.index}__].precedence}"/>
                        </td>
                        <td>
                            <input class="form-control" type="text"
                                   th:field="*{tokens[__${caret.index}__].rightPrecedence}"/>
                        </td>
                        <td>
                            <input class="form-control" type="text"
                                   th:field="*{tokens[__${caret.index}__].nextPrecedence}"/>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-block" type="submit" name="removeToken"
                                    th:value="${caret.index}">Remove token
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>

    </form>
</div>
</body>

</html>