<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <div class="page-header">
        <h1 class="text-center">RestQL</h1>
    </div>

    <form action="#" th:action="@{/restql}" th:object="${queryCommand}" method="post">

        <div class="input-group row" style="width: 100%; padding-bottom: 20px">
            <div class="col-lg-2">
                <button class="btn btn-primary" type="submit" name="test-query">Test Query</button>
            </div>
            <div class="col-lg-10">
                <input class="form-control" placeholder="Query" th:field="*{query}"/>
            </div>
        </div>

    </form>

    <div class="well well-lg" th:if="${result != null}" th:text="${result}">Parsed Query Result</div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Continent</th>
            <th>Region</th>
            <th>Surface Area</th>
            <th>Indep Year</th>
            <th>Population</th>
            <th>Life Expectancy</th>
            <th>Gnp</th>
            <th>Gnp Old</th>
            <th>Local Name</th>
            <th>Government Form</th>
            <th>Head of State</th>
            <th>Capital</th>
            <th>Code2</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="country : ${countries}">
            <td th:text="${country.code}"></td>
            <td th:text="${country.name}"></td>
            <td th:text="${country.continent}"></td>
            <td th:text="${country.region}"></td>
            <td th:text="${country.surfaceArea}"></td>
            <td th:text="${country.indepYear}"></td>
            <td th:text="${country.population}"></td>
            <td th:text="${country.lifeExpectancy}"></td>
            <td th:text="${country.gNP}"></td>
            <td th:text="${country.gNPOld}"></td>
            <td th:text="${country.localName}"></td>
            <td th:text="${country.governmentForm}"></td>
            <td th:text="${country.headOfState}"></td>
            <td th:text="${country.capital}"></td>
            <td th:text="${country.code2}"></td>
        </tr>

        </tbody>
    </table>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>